*{
    margin: 0;
    padding: 0;
    /* font-family:  sans-serif; */
    font-weight: 500px;
}
nav{
    display: flex;
    height: 70px;
    /* background-color: yellow; */
    justify-content: space-around;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 1px gray;
}

.left,.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.container a{
    color: black;
    gap: 10px;
}
.right{
    /* display: flex;
    justify-content: space-between; */
    width: 45%;
    cursor: pointer;
}
nav>.left>img{
    height: 40px;
}
.left{
    justify-content: space-between;
    width: 25%;
    gap: 2px;
}
nav>.right>a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.left-con{
    display: flex;
    gap: 10px;
}
nav>.right img{
    height: 35px;
}

.body-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-right{
    cursor: pointer;
    width: 45%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.head-right:hover{
    text-decoration: underline;
}
.body-con{
    margin: 10px;
    padding: 10px;
}

.card-con{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-item{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 350px;
    /* border: 2px solid red; */
}

.card-item:hover{
    box-shadow: -1px 1px 2px gray;
}

/* .quick-view>hr,.quick-view>b{
    display: none;
} */
.quick-view{
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer{
    height: 450px;
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.foot-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    
}
.fourth{
    display: flex;
    flex-direction: column;
    gap:100px;
}
.foot-item>img{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.foot-item>h4{
    color: gray;
}
.foot-item>span{
    cursor: pointer;
    font-size: larger;
}